
NEXT_PUBLIC_SUPABASE_URL=https://vuubxduqupxtplzcmetp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1dWJ4ZHVxdXB4dHBsemNtZXRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2MDYzMzcsImV4cCI6MjA5OTE4MjMzN30._L1cIPqAsqbyMcmRNeM28_VhI2Mmd7wf6tNHpZu0rlM

NEXT_PUBLIC_SITE_URL=https://libro-asistenciaa.vercel.app
