@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: theme('colors.bg');
  color: theme('colors.ink');
}

* {
  font-family: -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
